{% extends "base.html" %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>

    {% block content %}
        <h1>All Posts</h1>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
            </thead>
            <tbody>
                {% for post in all_posts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "post" post.id %}">{{ post.id }}</a></td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content|slice:130 }}...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

</body>
</html>
